
@{
    ViewBag.Title = "Odjava";
}

<div>
    <h2>Odjava</h2>

    <h3>Izberite tip odjave</h3>
    <button id="odjavaMalica">Odhod na malico</button>
    <button id="odjavaSluzbeni">Sluzbeni odhod</button>
    <button id="odjavaKonec">Konec delovnega dneva</button>
</div>
