
@{
    ViewBag.Title = "Odhod";
}

<div class="centered-content">
    <h2>Izberite tip odhoda</h2>
    <hr />
    <input type="button" value="Konec dela" class="std-button" id="odhod-konec" />
    <input type="button" value="Odhod na malico" class="std-button" id="odhod-malica" />
    <input type="button" value="Odhod na službeno obveznost" class="std-button" id="odhod-sluzbeni" />
</div>