
@{
    ViewBag.Title = "Prijava";
}

<div class="centered-content">
    <div class=container>
        <h2>Registracija novega uporabnika</h2>
        <hr class="hr-short" />
        <div class="content-box">
            <label for="prijava-ime" class="std-label-borderless">Ime:</label>
            <div class="item-box">
                <input id="prijava-ime" type="text" class="box-input" />
            </div>
            <label for="prijava-priimek" class="std-label-borderless">Priimek:</label>
            <div class="item-box">
                <input id="prijava-priimek" type="text" class="box-input" />
            </div>
            <input type="button" value="Registracija" class="dark-button" id="registracija-cta" />
        </div>
    </div>
    <hr>
    <div class=container>
        <h2>Prijava kot obstoječi uporabnik</h2>
        <hr class="hr-short" />
        <div class="content-box padded-top">
            <div class="item-box">
                <p>Uporabite ta obrazec, ko ste aplikacijo že uporabljali na drugi napravi. <br /><br /> Če ne poznate svojega ID, se obrnite na admininistratorja.</p>
            </div>
            <label for="prijava-id" class="std-label-borderless">ID:</label>
            <div class="item-box">
                <input id="prijava-id" type="text" class="box-input" />
            </div>
            <input type="button" value="Prijava" class="dark-button" id="prijava-cta" />
        </div>
    </div>
    <hr>
    <div id="odjava-cta-div">
        <input type="button" value="Odjava" class="dark-button" id="odjava-cta" />
    </div>
</div>
