
@{
    ViewBag.Title = "Uspeh";
}

<div class="centered-content">
    <h2>Uspešno logirano!</h2>
    <hr />

    <div class="content-box">
        <label class="std-label-borderless" for="uspeh-tip">Tip:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-tip">@ViewBag.Tip</span>
        </div>
        <label class="std-label-borderless" for="uspeh-ime">Uporabnik:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-uporabnik">@ViewBag.Ime @ViewBag.Priimek</span>
        </div>
        <label class="std-label-borderless" for="uspeh-id">ID:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-id">@ViewBag.Id</span>
        </div>
    </div>
</div>

