
@{
    ViewBag.Title = "Uspeh";
}

<div>
    <h2>Uspeh</h2>
    <h4>Tip:</h4>
    <p>@ViewBag.Tip</p>
    <h4>Uporabnik:</h4>
    <p>@ViewBag.Ime @ViewBag.Priimek</p>
    <h4>Uporabniski ID:</h4>
    <p>@ViewBag.Id</p>
</div>

