
@{
    ViewBag.Title = "Napaka 500";
}

<div class="hero">
    <h1>Prišlo je do napake</h1>
    <h2>Napaka na strežniku (500)</h2>
    <p>Poskusite se ponovno prijavati. Če to ne reši problema, napako sporočite administratorju.</p>
</div>

