
@{
    ViewBag.Title = "View";
}

<div>
    <h2>Prijava v sistem</h2>
    <h4>Vpisi ime</h4>
    <input id="nameInput" />
    <h4>Vpisi priimek</h4>
    <input id="surnameInput" />
    <br />
    <button id="inputButton">Submit</button>
</div>

