@{
    ViewBag.Title = "LogApp";
}

<div class="hero">
    <div class="container">
        <h1>Logiranje delovnega časa poenstavljeno.</h1>
        <p>Logirajte delovni čas brez dodatne opreme</p>
    </div>
</div>
<div class="about">
    <div class="container">
        <h3>O aplickaciji</h3>
        <p>
            Aplikacija LogApp ponuja logiranje delovnega časa brez dodatne opreme, kot so čitalci kartic.
            Potrebujete le QR kodo in telefon.
        </p>

    </div>
</div>
<div class="uporaba">
    <div class="container">
        <h2>Napotki za uporabo</h2>
        <p>
            Z vašo napravo skenirajte QR kodo na lokaciji, kjer bi se radi logirali. Uporabite lahko katero koli aplikacijo za skeniranje QR kod.
            V primeru, da odhajate iz lokacije, izberite enega od razlogov odhoda.
        </p><p>
            V zgornjem desnem kotu lahko pogledate, kdo je trenutna oseba, ki uporablja aplikacijo.
            Lahko se odjavite ali prijavite kot druga oseba s klikom na gumb "Spremeni".
        </p>
    </div>
</div>